* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

h1 {
    text-align: center;
}



img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

/*ul {
    padding-left: 40px;
    font-size: 20px;
}*/

/*p {
    text-align: center;
    font-size: 30px;
}*/

a {
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid, #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(156, 154, 154);
    box-shadow: 5px 10px #474545;
}

.card-box {
    width: 80%;
    margin: 40px auto;
    border: 5px  
}

.code-toolbar {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
    color: black;
}

.card-code {
    width: 80%;
    margin: 40px auto;
    /*border: 5px solid rgb(156, 154, 154);*/
    border: 5px solid black;
    box-shadow: 5px 10px #474545;
    background-color: black;
    font-size: 20px;
}

.text-wht-space {
    white-space: pre;
}

.token-string {
    color: orange;
}

.token-comment {
    color: green;
}

.token-keyword {
    color: blue;
}

.token-conditional {
    color:blueviolet;
}

.token-function-name {
    color:darkkhaki;
}

.token-punctuation {
    color:gold;
}

.token-parameter {
    color:darkturquoise;
}

.token-operator {
    color:whitesmoke;
}

.token-numeral {
    color:aquamarine;
}

.token-class-name-known {

}

.token-language {
    color:slategray
}

.token-constant {
    color:darkgoldenrod
}

.token-class-name-user {
    color:darkcyan;
}
